@charset "utf-8";

@media screen{
	ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin-right: 10%;
	margin-left: 10%;
	padding: 0;
	overflow: hidden;
	background-color: #A24CA1;
}
body {
	background-color: #373737;
}


li {
    float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding-top: 14px;
	padding-right: 16px;
	padding-left: 16px;
	text-decoration: none;
	padding-bottom: 14px;
}
li img {
	display: block;
	color: white;
	text-align: center;
	padding-top: 14px;
	padding-right: 16px;
	padding-left: 16px;
	text-decoration: none;
	padding-bottom: 14px;
}

li a:hover {
    background-color: #111;
}

}
