@charset "utf-8";

@media screen{
	ul {
	position: fixed;
	top: 0;
	width: 80%;
	list-style-type: none;
	margin-right: 10%;
	margin-left: 10%;
	padding: 0;
	
	background-color: #A24CA1;
}
body {
    background-color: #373737;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


li {
    float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding-top: 14px;
	padding-right: 16px;
	padding-left: 16px;
	text-decoration: none;
	padding-bottom: 14px;
}
li img {
	display: block;
	color: white;
	text-align: center;
	padding-top: 14px;
	padding-right: 16px;
	padding-left: 16px;
	text-decoration: none;
	padding-bottom: 14px;
}

li a:hover {
    background-color: #111;
}
	h1 {
	color: white;
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
	}
	p{
	color: white;
	margin-right: 10%;
	margin-left: 10%;
	}
	a {
	color:white;
	margin-right: 10%;
	margin-left: 10%;
	}
	img {
	
	}
}
